# Your first code

In [1]:
print("Hello World!")

Hello World!

In [2]:
# menggunakan tanda pagar membuat komputer tidak menghasilkan output untuk satu baris ini

## ngoding?

ngubah data(input) menggunakan function jadi data yang lebih berguna(output)

INPUT -> Function -> Output

# Data type number
Integer, Float

In [3]:
type(26)

int

In [4]:
type(2.6)

float

### operasi yang bisa dilakukan terhadap int dan float

In [5]:
print(2+6) # penjumlahan
print(2-6) # pengurangan
print(2*6) # perkalian
print(2/6) # pembagian
print(5//2) # tebak sendiri
print(5%2) # tebak sendiri
print(2**6) # pangkat
print(-4) # negasi

8
-4
12
0.3333333333333333
2
1
64
-4

In [6]:
2+6
2-6
2*6
2/6
5//2
5%2
2**6
-4
# tanpa print() python hanya akan menampilkan output terakhir

-4

In [7]:
# detail agak penting pembagian selalu menghasilkan float
print (5 / 2)
print (6 / 2)

2.5
3.0

In [8]:
# untungnya python ngikutin aturan perhitungan 
2 - 6 * 4

-22

### beberapa function yang bekerja pada number

In [9]:
min(1,2,3)

1

In [10]:
max(1,2,3)

3

In [11]:
abs(32)

32

In [12]:
abs(-32)

32

## Data type string
dikutip "" atau ''

In [13]:
type("Budi")

str

In [14]:
type("Amir")

str

# Define function and Data

In [15]:
# membuat variabel

kue_budi = 30
kue_amir = 5
# budi mengambil kue amir
total_kue_budi = kue_budi + kue_amir

In [16]:
# jangan lupa di print
print(total_kue_budi)

35

karena ada banyak function di python, saat tidak tau fungsinya gunakan 
### help()

In [17]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [18]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [19]:
# membuat function

def ngasal(a,b,c):
    print(a+b*c)

In [20]:
# manggil function gak perlu pake print
ngasal(4,2,6)
ngasal(0,2,5)

16
10

In [21]:
# gimana kalo bikin function gak pake print

def ngasal2(a,b,c):
    a+b*c

In [22]:
ngasal2(0,2,5)

In [23]:
# usaha lagi
print(ngasal2(0,2,5))

None

In [24]:
# membuat function dengan return

def ngasal3(a,b,c):
    return(a+b*c)

In [25]:
ngasal3(5,2,6)

17

### bedanya pake print dan return

In [26]:
"""
coba panggil fungsi ngasal (pake print) dan fungsi ngasal3 (pake return)
"""
ngasal(2,4,6)
ngasal3(2,4,6)

26

26

sekilas tidak ada perbedaan, coba lebih jauh
sekarang coba jumlahkan output dari fungsinya dengan 10

In [27]:
ngasal(2,4,6) + 10

26

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [29]:
ngasal3(2,4,6) + 10

36

In [30]:
print(type(ngasal2(2,4,6)))
print(type(ngasal3(2,4,6)))

<class 'NoneType'>
<class 'int'>

walaupun output dari ngasal(2,4,6) dan ngasal3(2,4,6) sama-sama 26 tapi itu hanya dimata manusia saja, bagi komputer 26 dari ngasal2 dan ngasal3 adalah hal yang berbeda

output return akan menghasilkan output yang memiliki type data
output print akan menghasilkan output yang tidak memiliki type data

In [31]:
ngasal(2,4,6) == ngasal3(2,4,6)

26

False

## docstring

In [32]:
help(ngasal2)

Help on function ngasal2 in module __main__:

ngasal2(a, b, c)

In [33]:
def akar(a,b,c):
    """ ini fungsi untuk mencari akar persamaan kuadrat 
    dengan 3 input number
    a = konstanta x^2
    b = konstanta x
    c = konstanta"""
    
    return ((-b/(2*a))+(((b**2)-4*a*c)**(1/2))/2*a)

In [34]:
help(akar)

Help on function akar in module __main__:

akar(a, b, c)
    ini fungsi untuk mencari akar persamaan kuadrat
    dengan 3 input number
    a = konstanta x^2
    b = konstanta x
    c = konstanta

In [35]:
akar(1,5,6)

-2.0

In [36]:
# membuat variabel didalam fungsi (local scope)
def akar_lengkap(a,b,c):
    """ ini fungsi untuk mencari akar persamaan kuadrat 
    dengan 3 input number dan 2 output
    a = konstanta x^2
    b = konstanta x
    c = konstanta"""
    
    det = ((b**2)-4*a*c)**(1/2)
    return ((-b+det)/2*a, ((-b-det)/2*a))

In [37]:
akar_lengkap(1,5,6)

(-2.0, -3.0)

# Data type booleans

In [38]:
x = True
y = False
print(y)
print(type(x), type(y))

False
<class 'bool'> <class 'bool'>

a == b

a != b

a and b

a or b

not a

a > b

In [39]:
# python cukup pintar dalam hal ini

2 == 2.0

True

In [40]:
# tapi tidak cukup pintar
"2" == 2

# 2 type yang berbeda yang kiri str yang kanan int

False

### conditionals

In [41]:
def umur_nonton(x):
    if x <= 17:
        print(x, "tahun? masih dibawah umur lu gan!")
    elif x < 50:
        print("umur", x, "udah boleh nonton gan")
    else:
        print("pensiun gan, urus cucu")

In [42]:
umur_nonton(12)
umur_nonton(25)
umur_nonton(100)

12 tahun? masih dibawah umur lu gan!
umur 25 udah boleh nonton gan
pensiun gan, urus cucu

## Type Data Lists

In [43]:
# List ini bayangin aja kayak kumpulan data

In [44]:
fibo_6 = [1,1,2,3,5,8]
type(fibo_6)

list

In [45]:
# bisa gak, kalo isianya bukan angka
gorengan = ["pisang goreng", "bakwan", "tahu isi", "cireng", "tempeh", "kol goreng"]
type(gorengan)

list

In [46]:
# bisa gak kalo...
# bisa udah
card = [
        ["J", "Q", "K"],
        ["6", "7", "8"],
        ["1", "As", "2"],
        ]
type(card)
# bisa mix isinya

list

### indexing

In [47]:
# misal Amir beli gorengan sesuai urutan diatas, mau tau gorengan pertama yang dibeli Amir
gorengan[0]

'pisang goreng'

index dimulai dari 0

In [48]:
# gorengan terakhir yang dibeli Amir
gorengan[-1]

'kol goreng'

### slicing

In [49]:
gorengan[0:3]

['pisang goreng', 'bakwan', 'tahu isi']

In [50]:
gorengan[:3]

['pisang goreng', 'bakwan', 'tahu isi']

In [51]:
gorengan[3:]

['cireng', 'tempeh', 'kol goreng']

In [52]:
# misal mau ganti, ternyata Amir gak suka bakwan
gorengan[1] = "molen"
gorengan

['pisang goreng', 'molen', 'tahu isi', 'cireng', 'tempeh', 'kol goreng']

### fungsi terhadap list

In [53]:
# ada berapa jenis gorengan yang Amir suka
len(gorengan)

6

In [54]:
sorted(gorengan)

['cireng', 'kol goreng', 'molen', 'pisang goreng', 'tahu isi', 'tempeh']

In [55]:
sum(fibo_6)

20

In [56]:
sum(gorengan) 
# ya gak bisa

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### methods buat list

In [57]:
# nambahin isi list diakhir
gorengan.append("Melon")

In [58]:
gorengan

['pisang goreng',
 'molen',
 'tahu isi',
 'cireng',
 'tempeh',
 'kol goreng',
 'Melon']

In [59]:
# cari index
gorengan.index("molen")

1

In [60]:
gorengan.index("ubi")

ValueError: 'ubi' is not in list

In [64]:
# biar gak terjadi error kayak diatas
"Ubi" in gorengan

False

In [65]:
"cireng" in gorengan

True

In [66]:
# buat ilangin dan ngasih tau index paling akhir
gorengan.pop()

'kol goreng'

In [67]:
gorengan

['pisang goreng', 'molen', 'tahu isi', 'cireng', 'tempeh']

### Loops

for loops

In [68]:
my_list = [1,2,3,4,5]

In [69]:
for i in my_list:
    print("looping ke -",i)

looping ke - 1
looping ke - 2
looping ke - 3
looping ke - 4
looping ke - 5

In [70]:
# another trick use range()
for i in range(5):
    print("looping ke -",i)

looping ke - 0
looping ke - 1
looping ke - 2
looping ke - 3
looping ke - 4

In [71]:
# masih bingung?
for beli in gorengan:
    print("bang beli",beli,"satu")

bang beli pisang goreng satu
bang beli molen satu
bang beli tahu isi satu
bang beli cireng satu
bang beli tempeh satu

while loop

In [72]:
# while loop bakal iterasi sampai suatu kondisi terpenuhi
i = 0
while i < 10:
    print(i)
    i = i + 2

0
2
4
6
8

In [73]:
# let's make someting
def kuadratin(x):
    kuadrat=[]
    for n in range(1,x+1):
        kuadrat.append(n**2)
    return kuadrat

In [74]:
kuadratin(5)

[1, 4, 9, 16, 25]

In [75]:
def pecah_kuadratin_list(list):
    """ input = 1 list
        output = tupple yang berisi 2 list
        list yang kiri, ngefilter yang genap dari input dipangkatin dengan dirinya sendiri
        list yang kanan, filter yang ganjil dari input dipangkat 2"""
    ganjil, genap = [], []
    for angka in list:
        if angka % 2 == 0:
            ganjil.append(angka ** angka)
        else:
            genap.append(angka ** 2)
    return ganjil, genap

In [76]:
my_list

[1, 2, 3, 4, 5]

In [77]:
pecah_kuadratin_list(my_list)

([4, 256], [1, 9, 25])

# Good Luck Have Fun